<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="Scripts/jquery-2.1.4.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <!--<script src="Scripts/wijmo/wijmo.input.js"></script>-->
    <!--<script src="Scripts/wijmo/wijmo.grid.js"></script>
    <script src="Scripts/wijmo/wijmo.chart.js"></script>
    <script src="Scripts/wijmo/wijmo.chart.interaction.js"></script>-->

    <!--Controllers-->
    <script src="Scripts/Controllers/catalogManagerController.js"></script>
    <script src="Scripts/Controllers/categoryController.js"></script>
    <script src="Scripts/Controllers/subcategoryController.js"></script>
    <script src="Scripts/Controllers/productController.js"></script>   
    <script src="Scripts/Controllers/homeController.js"></script> 
    <script src="Scripts/Controllers/editcategoryController.js"></script>   
    <!--Services-->
    <script src="Scripts/Services/catalogManagerService.js"></script>
    <!--Routes-->
    <script src="Scripts/Routes/catalogManagerRoute.js"></script>
    <!--Directives-->
    <!--<script src="Scripts/Directives/uiDirectives.js"></script>
    <script src="Scripts/Directives/catalogManagerDirectives.js"></script>-->
    <!--wijmo-->
    <script src="Scripts/wijmo/wijmo.js"></script>
    <script src="Scripts/wijmo/wijmo.angular.js"></script> >

    <!--Stylesheets-->
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="Content/category.css" rel="stylesheet" />
    <link href="Content/wijmo/wijmo.css" rel="stylesheet" />
    <link href="Content/base.css" rel="stylesheet" />
    <link href="Content/ui-bootstrap-csp.css" rel="stylesheet" />


</head>
<body ng-app="catalogManager">
    <div class="container">      
        <div class="row">
            <div class="co-lg-12">
                <h1><span>Catalog Manager</span></h1>
                <hr />
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <!-- Menu starts here -->
            <div class="col-md-4">
                <div class="body-container menu-collapsed">
                    <div>
                        <div class="body-menu-container" ng-controller="CatalogManagerController">
                            <!--<div class="menu-title" hub-menu-toggle>-->
                            <div ng-if="cm.dataLoading">
                                <span class="nav-label">Loading...</span>
                            </div>

                            <div class="menu-title" ng-if="!cm.dataLoading">
                                <span class="fa fa-caret-right"></span>
                                <div class="menu-label">
                                    <a ng-href="#/">
                                        <span class="nav-label">HOME{{data.dataLoading}}</span>
                                    </a>
                                </div>
                            </div><br />
                            <ul id="menuMain" class="nav">
                                <li ng-repeat="item in menuitems" ng-include="'subMenuItem.tmpl'"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div ng-view></div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="subMenuItem.tmpl">
        <i class="fa fa-caret-right" ng-if="item.ChildCategories"></i>
        <a ng-href="{{LinkFor(item)}}" ng-click="item.click($event)">
            <span class="nav-label">{{ item.Name }}</span>
        </a>
        <ul class="nav nav-second-level" ng-if="item.ChildCategories">
            <li ng-repeat="item in item.ChildCategories" ng-include="'subMenuItem.tmpl'"></li>
        </ul>
    </script>
</body>
</html>
